test
istanbul
.gitignore
.svn
*.txt
node_modules
target
definition-ts
tsconfig.json
environment
template
test_report
.jfrog
tmp 
sonar-project.properties
.mocharc.js 
dependencies-report.json
.husky
.eslintrc.js
.eslintignore
.builder.js
.gitlab-ci.yml
tmpPublish
**/*.ts
*.js
*.js.map
.vscode